

.plan{
  flex-wrap: wrap;
  position: relative;

  .item{
    width:7em;
    height: 3em;
    border: 1px solid #a8a8a8;
    text-align: center;

    position: relative;
    cursor: pointer;

    &.finish{
      background-color: #d8e4bc;
      //background: linear-gradient(-90deg,green, #c1ff0f);

      color: black;
    }
    &:hover{
      background-color: lighten(#d8e4bc, 10%);;
      color: black;
      //background: linear-gradient(-90deg, #00b600, #f4ff11);
      //color: #ffeefe;
      //background-color: lighten(green, 10%);
      //background-color: #f6fcf0;
    }
    &.matched{
      border: 2px dashed red;
    }

    .text{
      padding: 0 0.2em;
    }

  }

  .edit-btn{
    position: absolute;
    left: -3em;
    color: #ffb23d;
    cursor: pointer;

    padding: 0.3em 1em;

  }


  .text{
    width: 7em;
  }

  .status-icon{
    position: absolute;
    right: 0.2em;
    bottom: 0.2em;
  }

  .delete-icon{
    position: absolute;
    right: 0;
    top:-0.2em;
    color: red;
    padding: 0.1em 0.4em;
    border-radius: 2px;

    &:hover{
      background-color: #cecece;
    }
  }
}

//.center-wh{
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  -ms-transform:translate(-50%, -50%); 	/* IE 9 */
//  -moz-transform:translate(-50%, -50%); 	/* Firefox */
//  -webkit-transform:translate(-50%, -50%); /* Safari �? Chrome */
//  -o-transform:translate(-50%, -50%);
//  /*text-align: center;*/
//  /*z-index: 1000;*/
//}

#id_long_desp{
  width: 40em;
  height: 26em;
}

