
.plan{
  .item{
    width:10em;
    height: 6em;
    border: 1px solid #a8a8a8;
    text-align: center;

    position: relative;
    cursor: pointer;
    &:hover{
      background-color: #f6fcf0;
    }
    &.matched{
      border: 2px dashed red;
    }
  }

  flex-wrap: wrap;

  .text{
    width: 7em;
  }

  .status-icon{
    position: absolute;
    right: 0.2em;
    bottom: 0.2em;
  }
  .delete-icon{
    position: absolute;
    right: 0.2em;
    top:0.2em;
    color: red;
    padding: 0.1em 0.4em;
    border-radius: 2px;

    &:hover{
      background-color: #cecece;
    }
  }
}

.center-two{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%); 	/* IE 9 */
  -moz-transform:translate(-50%, -50%); 	/* Firefox */
  -webkit-transform:translate(-50%, -50%); /* Safari ºÍ Chrome */
  -o-transform:translate(-50%, -50%);
  /*text-align: center;*/
  /*z-index: 1000;*/
}

#id_long_desp{
  width: 40em;
  height: 26em;
}