.work-template-pan{
  position: relative;
  .item{
    width: 7em;
    height: 3em;
    border: 1px solid #a8a8a8;
    position: relative;
    cursor: pointer;
  }
  .item:hover{
    background-color: #fafff1;
  }
  .delete-btn{
    position: absolute;
    top:0.2em;
    right: 0.3em;
    padding: 0.2em 0.4em;
    border-radius: 2px;
    color: red;

    &:hover{
      background-color: #e8e8e8;
    }
  }
}