{% extends "director/index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "lib/mermaid.min.js" %}'></script>
<link href= '{% static "lib/mermaid.min.css" %}'  rel="stylesheet">

<script src='{% static "lib/colResizable-1.6.min.js" %}'></script>

<!--<script src="https://ariutta.github.io/svg-pan-zoom/dist/svg-pan-zoom.min.js"></script>-->

<script src='{% static "js/table.pack.js?t=" %}{{ js_stamp.table_pack_js }}'></script>
<script src='{% static "js/liucheng.pack.js?t=" %}{{ js_stamp.liucheng_pack_js }}'></script>
<script type="text/javascript">

    ex.each(heads,function(head){
        if(head.name=='relations'){
            head.type='flowchart-td'
//            head.type='worknode-flow'
        }
    })

    heads=ex.sort_by_names(heads,['id','client','short_desp','start_time','relations'])

    muban_table_url=engine_url+'/'+'nodegrouptemplate'
    muban_manager=new MubanManager(muban_table_url)

    node_editor=new WorkNodeEditor()

    table_logic={
        el:'#there',
        data:{
//		        heads:heads,
//		        rows:rows,
//		        row_filters:row_filters,
//		        row_sort:row_sort,
//		        row_pages:row_pages,
//		        placeholder:placeholder,
//		        selected:[],
//		        del_info:[],
//		        menu:menu,
//		        can_add:can_add,
//		        can_del:can_del,
//		        model:model,
//		        search_args:search_args,
//		        ex:ex,
            show_node_view:false,
            crt_node:{},

            node_static:{
                today_count:0,
                today_finish_count:0,
                old_waiting_count:0,
                month_finish_count:0,
            },
        },
        mixins:[table_fun],
        mounted:function(){
            var self=this
          var post_data=[{fun:'get_node_info'}]
            ex.post('/_ajax/liucheng',JSON.stringify(post_data),function(resp){
                ex.assign(self.node_static,resp.get_node_info)
            })
        },
        watch:{
            'row_sort.sort_str':function (v) {
                this.search_args._sort=v
                this.search()
            }
        },
        methods:{
            add_new: function() {
                var url ='/_ajax/'+app
                var post_data=[{fun:'add_new_record'}]
                ex.post(url,JSON.stringify(post_data),function(resp){
                    this.rows.splice(0,0,resp.add_new_record.record)
                })
            },
            show_node:function(node){
                this.crt_node=node
//                this.show_node_view=true
                node_editor.edit(node,function(new_node){
                    ex.assign(node,new_node)
                    if(node.owner){
                        mount_user_image(node.pk,node._owner_label,node.head_img)
                    }else{
                        $('#'+node.pk+' image').remove()
                    }
                })

            },
            create_from_muban:function(){
                muban_manager.select(function(row){

                    var url ='/_ajax/'+app
                    var post_data=[{fun:'add_new_record',row:row}]
                    ex.post(url,JSON.stringify(post_data),function(resp){
                        this.rows.splice(0,0,resp.add_new_record.record)
                    })

                })
            },
        }

    }

    mermaid.initialize({
        startOnLoad: false
    })

    $(function () {
        table=new Vue(table_logic)

        Vue.nextTick(function(){
            mermaid.init({noteMargin: 10}, ".mermaid");

            $('.fake-suit').colResizable({
                liveDrag:true,
//                gripInnerHtml:"<div style='width:1px;height: ;border: 1px solid black;'></div>",
                draggingClass:"dragging",
                resizeMode:'fit'
            })
        })
    })

    $(document).on('click','.nodes .node',function(event){
        var id=$(event.currentTarget).attr('id')

        ex.each(rows,function(row){
            ex.each(row.nodes,function(node){
                if(node.pk==id){
                    table.show_node(node)
                    return
                }
            })
        })
    })


</script>

{% block extra_head %}
{% endblock %}

<div id='there'>
    <path-nav :menu='menu' v-if="!search_args._pop">
        <span style="width: 3em;display: inline-block"></span>
        <span style="margin-right: 3em;"><b>今日需要完成：</b><span><span v-text="node_static.today_finish_count"></span>/<span v-text="node_static.today_count"></span></span></span></span>
        <span style="margin-right: 3em;"><b>延迟未完成：</b><span v-text="node_static.old_waiting_count"></span></span>
        <span style="margin-right: 3em;"><b>当月已完成：</b><span v-text="node_static.month_finish_count"></span></span>
    </path-nav>


    <div class='btn-panel flex flex-sb' style="padding-left:20px; ">

        <!--<div v-if="row_filters.length==0" class="flex-grow"></div>-->
        <com-filter class="flex" :heads="row_filters" :search="search_args"
                    :search_tip='search_tip' @submit="search()"></com-filter>


        <com-table-btn class="main-table" v-if="!search_args._pop && (can_add || can_del)" :add_new="add_new" :del_item="del_item" style="width:18em;">
            <!--<button type="button" class="btn btn-default btn-sm" @click="toggle_edit()">编辑状态</button>-->
            <button v-if="can_add" type="button" class="btn btn-default btn-sm" @click="create_from_muban()">从模板创建</button>
        </com-table-btn>

    </div>

    <com-table class='table fake-suit' :has_check="!search_args._pop" :map="map"
               :row_sort="row_sort" :heads="heads" :rows="rows" v-model="selected"></com-table>

    <paginator :nums='row_pages.options' :crt='row_pages.crt_page' @goto_page='goto_page($event)'></paginator>

    <modal v-show="show_node_view" @click.native="show_node_view=false">
        <div @click.stop="" style="min-width: 500px;min-height: 500px;margin: 1em;max-width: 800px;max-height: 70vh;">
            <div>
                <label for="" >主题:</label>
                <span v-text="crt_node.short_desp"></span>
            </div>
            <div>
                <label for="" >详细:</label>
                <span v-text="crt_node.long_desp"></span>
            </div>
            <div>
                <label for="" >开始时间:</label>
                <span v-text="crt_node.start_time"></span>
            </div>
            <div>
                <label for="" >修改时间:</label>
                <span v-text="crt_node.mtime"></span>
            </div>
        </div>
    </modal>

</div>

<style>
    .muban-list{
        width: 70vw;
        height: 70vh;
    }
    .main-table .td{
        min-width: 6em;
    }
    .main-table .td:first-child{
        min-width: inherit;
    }
    .td_relations{
        width: 70%;
        overflow: auto;
    }
    .td_start_time{
        min-width: 8em;
    }

    /*.node image{*/
        /*border-radius: 0.5em;*/
        /*width: 1em;*/
        /*height: 1em;*/
    /*}*/

    .node {
        cursor: pointer;
    }
    #filter-node_status{
        width: 10em;
    }
    th{
        border-right: 1px solid #d0d0d0;
    }

    #filter-owner{
        max-width: 8em;
    }
</style>
{% block extra %}
{% endblock %}
{% endblock %}