{% extends "director/index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "lib/mermaid.min.js" %}'></script>
<link href= '{% static "lib/mermaid.min.css" %}'  rel="stylesheet">
<script type="text/javascript">


    //	heads=
    //	row =
    //
    //
    //	can_add=
    //	can_log=
    //	can_del=

    form_logic={
        el:'#there',
//			data:{
//				kw:{
//					heads:heads,
//			        row:row,
//			   		errors:{},
//				},
//				menu:menu,
//				can_add:can_add,
//				can_del:can_del,
//				can_log:can_log,
//			},
        data:{
            node_group:row,
            selected:[],
            can_select:false,
            show_edit:false,
            node_kw:{
                heads:[],
                row:{},
                errors:{},
            }
        },
        mixins:[field_fun],
        computed:{
           memraid_text:function(){
               var text="graph LR;"
               ex.each(this.node_group.nodes,function(node){
                   if(node.short_desp){
                       text+=ex.template('{id}["{desp}"];',{id:node.id,desp:node.short_desp})
                   }else{
                       text+=ex.template('{id};',{id:node.id})
                   }
               })
                ex.each(this.node_group.relations,function(relation){
                    text+=ex.template("{src}-->{dst};",{src:relation[0],dst:relation[1]})
                })
               return text
           }
        },
        watch:{
            memraid_text:function(){
                Vue.nextTick(function(){
                    $('.mermaid').attr('data-processed','')
                    mermaid.init({noteMargin: 10}, ".mermaid");
                })

            }
        },
        methods:{
            select:function(id){
                var node=ex.findone(this.node_group.nodes,{pk:id})
                if(this.can_select){
                    this.selected.push(node)
                    $('#'+id+'.node').addClass('selected')
                }else{
                    this.edit(node)
                }

            },
            create_node:function(){
                var self=this
                var url='/_ajax/'+app
                var post_data=[{fun:'create_node',node_group:this.node_group}]
                ex.post(url,JSON.stringify(post_data),function(resp){
                    self.node_group.nodes.push(resp.create_node)
                })
            },
            link_node:function(){
                var ls=[this.selected[0].pk,this.selected[1].pk]
                this.node_group.relations.push(ls)
                this.clear_select()
            },
            delet_link:function(){
                var pk_list=ex.map(this.selected,function(node){
                    return node.pk
                })
                ex.remove(this.node_group.relations,function(relation){
                    if( pk_list.indexOf(relation[0])!=-1 && pk_list.indexOf(relation[1])!=-1  ){
                        return true
                    }else{
                        return false
                    }
                })
                this.clear_select()
            },
            start_select:function(){
                this.can_select= !this.can_select
            },
            clear_select:function(){
                this.selected.splice(0,this.selected.length)
                $('.node').removeClass('selected')
            },
            submit: function () {
//                this.before_sub();
                var self = this;
                var url='/_ajax/'+app
                show_upload();
                var post_data = [{ fun: 'save_node_group', node_group: this.node_group }];
                ex.post(url, JSON.stringify(post_data), function (resp) {
                    hide_upload(500);

                });
            },
            edit:function(node){
                var self=this
                if (self.node_kw.heads.length==0){
                    var url=engine_url+'/'+'worknode.edit'+'?pk='+node.pk
                    ex.get(url,function(resp){
                        self.node_kw.heads=resp.heads
                    })
                }
                this.node_kw.row=ex.copy(node)

                this.show_edit=true
            },
            assure_edit:function(){
                var self=this
                show_upload()
                var post_data=[{fun:'save',row:this.node_kw.row}]
                ex.post('/_ajax',JSON.stringify(post_data),function(resp){
                    var node=ex.findone(self.node_group.nodes,{pk:self.node_kw.row.pk})
                    ex.assign(node,self.node_kw.row)
                    hide_upload(300)
                    self.show_edit=false
                })

            }
        }

    }

    mermaid.initialize({
        startOnLoad: false
    })

    $(function () {
        form_obj = new Vue(form_logic)
        Vue.nextTick(function(){
            mermaid.init({noteMargin: 10}, ".mermaid");
        })
    })

    $(document).on('click','.nodes .node',function(event){
        var id=$(event.currentTarget).attr('id')
        form_obj.select(id)
    })
</script>

<style>
    .node.selected rect{
        fill:green;
    }
</style>
{% block extra_head %}

{% endblock %}

<div id='there'>

    <div v-if="can_log" style='float: right;padding: 5px 20px;'>
        <a :href="log_url()">History</a>
    </div>
    <path-nav :menu='menu'>
        <li><span>编辑</span></li>
    </path-nav>

    <div>
        <div style="float: left;margin-left: 3em;padding: 0.6em;border-radius: 5px;background-color: #f5f4f4;border:1px solid #e2e2de;">
            <button @click="create_node()">创建节点</button>
            <button @click="link_node()">连接节点</button>
            <button @click="delet_link()">删除连接</button>

        </div>
        <div>
            <button :class="['btn',{'btn-default':!can_select,'btn-primary':can_select}]"  @click="start_select()">开始选择</button>
            <button @click="clear_select()">清空选择</button>
            <span v-text="selected.length"></span>
        </div>
        <com-form-btn :submit="submit" :del_row="del_row" :cancel="cancel" ></com-form-btn>
    </div>



    <div class="mermaid" v-text="memraid_text" style="padding: 3em;">

    </div>

    <!--<div class='field-panel'>-->

        <!--<field  v-for='head in kw.heads' :key="head.name" :name='head.name' :kw='kw'></field>-->
    <!--</div>-->

    <modal v-show="show_edit">
        <div @click.stop="">
            <div style="text-align: right;padding-right: 1em;padding-top: 0.3em;">
                <button @click="assure_edit()">确定</button>
                <button @click="show_edit=false">取消</button>
            </div>
            <div  class='field-panel'>
                <field  v-for='head in node_kw.heads' :key="head.name" :name='head.name' :kw='node_kw'></field>
            </div>
        </div>

    </modal>

</div>

{% endblock %}