{% extends "director/index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "lib/mermaid.min.js" %}'></script>
<link href= '{% static "lib/mermaid.min.css" %}'  rel="stylesheet">
<!--<script src="https://ariutta.github.io/svg-pan-zoom/dist/svg-pan-zoom.min.js"></script>-->

<script src='{% static "js/table.pack.js?t=" %}{{ js_stamp.table_pack_js }}'></script>
<script src='{% static "js/liucheng.pack.js?t=" %}{{ js_stamp.liucheng_pack_js }}'></script>
<script type="text/javascript">

    ex.each(heads,function(head){
        if(head.name=='relations'){
            head.type='flowchart-td'
//            head.type='worknode-flow'
        }
    })

    heads=ex.sort_by_names(heads,['id','client','short_desp','start_time','relations'])

    muban_table_url=engine_url+'/'+'nodegrouptemplate'
    muban_manager=new MubanManager(muban_table_url)
    table_logic={
        el:'#there',
        data:{
//		        heads:heads,
//		        rows:rows,
//		        row_filters:row_filters,
//		        row_sort:row_sort,
//		        row_pages:row_pages,
//		        placeholder:placeholder,
//		        selected:[],
//		        del_info:[],
//		        menu:menu,
//		        can_add:can_add,
//		        can_del:can_del,
//		        model:model,
//		        search_args:search_args,
//		        ex:ex,
            show_node_view:false,
            crt_node:{},
        },
        mixins:[table_fun],
        watch:{
            'row_sort.sort_str':function (v) {
                this.search_args._sort=v
                this.search()
            }
        },
        methods:{
            add_new: function() {
                var url ='/_ajax/'+app
                var post_data=[{fun:'add_new_record'}]
                ex.post(url,JSON.stringify(post_data),function(resp){
                    this.rows.splice(0,0,resp.add_new_record.record)
                })
            },
            show_node:function(node){
                this.crt_node=node
                this.show_node_view=true

            },
            create_from_muban:function(){
                muban_manager.select(function(row){

                    var url ='/_ajax/'+app
                    var post_data=[{fun:'add_new_record',row:row}]
                    ex.post(url,JSON.stringify(post_data),function(resp){
                        this.rows.splice(0,0,resp.add_new_record.record)
                    })

                })
            }
        }

    }

    mermaid.initialize({
        startOnLoad: false
    })

    $(function () {
        table=new Vue(table_logic)

        Vue.nextTick(function(){
            mermaid.init({noteMargin: 10}, ".mermaid");
        })
    })

    $(document).on('click','.nodes .node',function(event){
        var id=$(event.currentTarget).attr('id')

        ex.each(rows,function(row){
            ex.each(row.nodes,function(node){
                if(node.pk==id){
                    table.show_node(node)
                    return
                }
            })
        })
    })


</script>

{% block extra_head %}
{% endblock %}

<div id='there'>
    <path-nav :menu='menu' v-if="!search_args._pop"></path-nav>
    <div class='btn-panel flex flex-sb' style="padding-left:20px; ">

        <!--<div v-if="row_filters.length==0" class="flex-grow"></div>-->
        <com-filter class="flex" :heads="row_filters" :search="search_args"
                    :search_tip='search_tip' @submit="search()"></com-filter>
        <!--<div class="flex-grow"></div>-->


        <com-table-btn class="main-table" v-if="!search_args._pop" :add_new="add_new" :del_item="del_item" style="width:15em;">
            <button type="button" class="btn btn-default btn-sm" @click="create_from_muban()">从模板创建</button>
        </com-table-btn>

        <!--<div class='btn-group' style='float: right;' v-if="!search_args._pop">-->
        <!--<a type="button" class="btn btn-success btn-sm" :href='add_new()' v-if='can_add' role="button">创建</a>-->
        <!--<button type="button" class="btn btn-danger btn-sm" @click='del_item()' v-if='can_del'>删除</button>-->
        <!--</div>-->

    </div>

    <com-table class='table fake-suit' :has_check="!search_args._pop" :map="map"
               :row_sort="row_sort" :heads="heads" :rows="rows" v-model="selected"></com-table>

    <paginator :nums='row_pages.options' :crt='row_pages.crt_page' @goto_page='goto_page($event)'></paginator>

    <modal v-show="show_node_view" @click.native="show_node_view=false">
        <div @click.stop="" style="min-width: 500px;min-height: 500px;margin: 1em;max-width: 800px;max-height: 70vh;">
            <div>
                <label for="" >主题:</label>
                <span v-text="crt_node.short_desp"></span>
            </div>
            <div>
                <label for="" >详细:</label>
                <span v-text="crt_node.long_desp"></span>
            </div>
            <div>
                <label for="" >开始时间:</label>
                <span v-text="crt_node.start_time"></span>
            </div>
            <div>
                <label for="" >修改时间:</label>
                <span v-text="crt_node.mtime"></span>
            </div>
        </div>
    </modal>

</div>

<script>

//    function test(myid) {
//        var svgimg = document.createElementNS('http://www.w3.org/2000/svg','image');
//        svgimg.setAttributeNS('http://www.w3.org/1999/xlink','href', '/static/image/user.jpg');
//        svgimg.setAttributeNS(null,'height','20');
//        svgimg.setAttributeNS(null,'width','20');
//        svgimg.setAttributeNS(null,'x','0');
//        svgimg.setAttributeNS(null,'y','20');
//        svgimg.setAttributeNS(null, 'visibility', 'visible');
//        svgimg.innerHTML='<title>张小姐</title>';
//        document.getElementById(myid).appendChild(svgimg);
//
//    }

//    <pattern id="raduisImage" patternUnits="userSpaceOnUse" width="100" height="100">
//            <image xlink:href="test.jpg" x="0" y="0" width="625" height="605" />
//            </pattern>

//<circle cx="50" cy="50" r="10" fill="url(#raduisImage)"></circle>

//    function test(myid){
//        var defs=document.createElementNS('http://www.w3.org/2000/svg','defs')
//        defs.innerHTML='<pattern id="raduisImage" patternUnits="userSpaceOnUse" width="20" height="20"> <image xlink:href="/static/image/201502041009207922590_225_260.jpg" x="0" y="0" width="20" height="20" /> </pattern>'
//        var circle=document.createElementNS(null,'circle')
//
//        document.getElementById(myid).appendChild(defs);
//        document.getElementById(myid).appendChild(circle)
//        circle.outerHTML='<circle cx="10" cy="20" r="10" fill="url(#raduisImage)"></circle>'
//    }

//<foreignObject width="31" height="12"><div style="display: inline-block; white-space: nowrap;" xmlns="http://www.w3.org/1999/xhtml">地税s</div></foreignObject>
//    function test(myid){
//        var obj=document.createElementNS(null,'g')
//        obj.setAttributeNS(null,'transform',"translate(-15.5,-6)")
////        obj.innerHTML='<span>hello fuck world</span>'
//        var foreing_obj=document.createElementNS(null,'foreignObject')
//        obj.innerHTML='<foreignObject id="foreign" width="31" height="12"></foreignObject>'
//
////        obj.setAttributeNS(null,'width','20');
////        obj.setAttributeNS(null,'height','20');
////        obj.innerHTML='<span>hello fuck world</span>'
////        p.innerHTML="<span>hello world</span>"
//        document.getElementById(myid).appendChild(obj);
//        var foreign=document.getElementById('foreign');
//        foreign.innerHTML='<span style="display: inline-block; white-space: nowrap;" >aaa</span>'

//    }
</script>

<style>
    .muban-list{
        width: 70vw;
        height: 70vh;
    }
    .main-table .td{
        min-width: 6em;
    }
    .main-table .td:first-child{
        min-width: inherit;
    }
    .td_relations{
        width: 70%;
        overflow: auto;
    }
    .td_start_time{
        min-width: 8em;
    }

    /*.node image{*/
        /*border-radius: 0.5em;*/
        /*width: 1em;*/
        /*height: 1em;*/
    /*}*/
</style>
{% block extra %}
{% endblock %}
{% endblock %}