{% extends "director/index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "lib/mermaid.min.js" %}'></script>
<link href= '{% static "lib/mermaid.min.css" %}'  rel="stylesheet">

<script src='{% static "js/table.pack.js" %}'></script>
<script type="text/javascript">

    ex.each(heads,function(head){
        if(head.name=='relations'){
            head.type='worknode-flow'
        }
    })

    table_logic={
        el:'#there',
        data:{
//		        heads:heads,
//		        rows:rows,
//		        row_filters:row_filters,
//		        row_sort:row_sort,
//		        row_pages:row_pages,
//		        placeholder:placeholder,
//		        selected:[],
//		        del_info:[],
//		        menu:menu,
//		        can_add:can_add,
//		        can_del:can_del,
//		        model:model,
//		        search_args:search_args,
//		        ex:ex,
            show_node_view:false,
            crt_node:{},
        },
        mixins:[table_fun],
        watch:{
            'row_sort.sort_str':function (v) {
                this.search_args._sort=v
                this.search()
            }
        },
        methods:{
            add_new: function() {
                var url ='/_ajax/'+app
                var post_data=[{fun:'add_node_template'}]
                ex.post(url,JSON.stringify(post_data),function(resp){
                    this.rows.push(resp.add_node_template.record)
                })
            },
            show_node:function(node){
                this.crt_node=node
                this.show_node_view=true

            }
        }

    }

    mermaid.initialize({
        startOnLoad: false
    })

    $(function () {
        table=new Vue(table_logic)

        Vue.nextTick(function(){
            mermaid.init({noteMargin: 10}, ".mermaid");
        })
    })

    $(document).on('click','.nodes .node',function(event){
        var id=$(event.currentTarget).attr('id')

        ex.each(rows,function(row){
            ex.each(row.nodes,function(node){
                if(node.pk==id){
                    table.show_node(node)
                    return
                }
            })
        })
    })


</script>

{% block extra_head %}
{% endblock %}

<div id='there'>
    <path-nav :menu='menu' v-if="!search_args._pop"></path-nav>
    <div class='btn-panel flex flex-sb' style="padding-left:20px; ">

        <!--<div v-if="row_filters.length==0" class="flex-grow"></div>-->
        <com-filter class="flex" :heads="row_filters" :search="search_args"
                    :search_tip='search_tip' @submit="search()"></com-filter>
        <div class="flex-grow"></div>


        <com-table-btn v-if="!search_args._pop" :add_new="add_new" :del_item="del_item">
        </com-table-btn>

        <!--<div class='btn-group' style='float: right;' v-if="!search_args._pop">-->
        <!--<a type="button" class="btn btn-success btn-sm" :href='add_new()' v-if='can_add' role="button">创建</a>-->
        <!--<button type="button" class="btn btn-danger btn-sm" @click='del_item()' v-if='can_del'>删除</button>-->
        <!--</div>-->

    </div>

    <com-table class='table fake-suit' :has_check="!search_args._pop" :map="map"
               :row_sort="row_sort" :heads="heads" :rows="rows" v-model="selected"></com-table>

    <paginator :nums='row_pages.options' :crt='row_pages.crt_page' @goto_page='goto_page($event)'></paginator>

    <modal v-show="show_node_view" @click.native="show_node_view=false">
        <div @click.stop="" style="min-width: 500px;min-height: 500px;margin: 1em;">
            <div>
                <label for="" >主题:</label>
                <span v-text="crt_node.short_desp"></span>
            </div>
            <div>
                <label for="" >详细:</label>
                <span v-text="crt_node.long_desp"></span>
            </div>
            <div>
                <label for="" >修改时间:</label>
                <span v-text="crt_node.mtime"></span>
            </div>
        </div>
    </modal>

</div>
<script>
    Vue.component('worknode-flow',{
        props:['name','row',],
        template:'#worknode-flow',
        computed:{
            node_group:function(){
                var node_group_local=ex.copy(this.row)
//                node_group_local.relations=JSON.parse(node_group_local.relations)
                return node_group_local
            },
            memraid_text:function(){
                var text="graph LR;"
                ex.each(this.node_group.nodes,function(node){
                    if(node.short_desp){
                        text+=ex.template('{id}["{desp}"];',{id:node.id,desp:node.short_desp})
                    }else{
                        text+=ex.template('{id};',{id:node.id})
                    }
                })
                ex.each(this.node_group.relations,function(relation){
                    text+= ex.template("{src}-->{dst};",{src:relation[0],dst:relation[1]})
                })
                return text
            }
        }

    })
</script>

<template id="worknode-flow" >
    <div class="mermaid" v-text="memraid_text">
    </div>
</template>


{% block extra %}
{% endblock %}
{% endblock %}