{% extends "f7/base.html" %}
{% load static %}
{% load jsonify %}


{% block page_content %}
<script src="{% static 'js/fields_mb.pack.js' %}"></script>
<script type="text/javascript">

    //    with_menu=false
    //    ln.readCache()

    form_logic={
        el:'#there',
        data:{
            page_label:page_label,
        },
        mixins:[field_fun],

        mounted:function(){

        },
        methods:{
            after_sub:function(new_row){
                var self=this
                ff.back(function(last_win){
                    if(self.kw.row.pk){
                        var row = ex.findone(last_win.table.rows,{pk:new_row.pk})
                        ex.assign(row,new_row)
                    }else{ // 新建
                        last_win.location.reload()
                    }
                })
            },
            open_node:function(node){
//                alert('ok')
                var url = ex.template('{engine_url}/workboard.worknode.f7.edit?pk={pk}',{engine_url:engine_url,pk:node.pk})
                ff.load(url,'worknode_edit')
            }
        }
    }

    $(function(){
        new Vue(form_logic)
    })
</script>

<div id="there" v-cloak style="overflow: auto;padding-bottom: 5em;">

    <!--<div class="form-pad">-->
        <!--<field v-for="head in kw.heads" :name="head.name" :kw="kw"></field>-->
    <!--</div>-->




    <!--<div v-btn-group>-->
        <!--<a v-if="can_edit" state="success"  @click="submit()">确定</a>-->
        <!--<a v-if="can_del" state="danger" :href="get_del_link()">删除</a>-->
    <!--</div>-->

    <div class="times">
        <div class="section material-wave" v-for="node in kw.row.nodes" @click="open_node(node)">
            <div :class=["circle",node.status]></div>
            <span v-text="node.short_desp"></span>
        </div>
    </div>

</div>


<style>
    .times{
        margin-top: 2em;
        margin-left: 2em;
        padding-left: 2em;
        border-left: 2px solid #e4e4e4;

    }
    .times .section{
        padding-top: 1em;
        position: relative;
        padding-bottom: 2em;
    }
    .times .circle{
        width: 1.4em;
        height: 1.4em;
        position: absolute;
        left: -2.8em;
        background-color: #dbdbdb;
        border-radius: 0.7em;
    }
    .times .circle.finish{
        background-color: #56db1d;
    }

</style>

{% endblock %}