{% extends "director/index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "js/workboard.pack.js?t=" %}{{ js_stamp.workboard_pack_js }}'></script>
<script type="text/javascript">


    heads=ex.sort_by_names(heads,["short_desp","long_desp"])


    form_logic={
        el:'#there',
			data:{
                row:row,
//				kw:{
//					heads:heads,
//			        row:row,
//			   		errors:{},
//				},
//				menu:menu,
//				can_add:can_add,
//				can_del:can_del,
//				can_log:can_log,
			},
        mixins:[field_fun],
        methods:{
//            add_new:function(){
//                var new_content={
//                    short_desp:'工作步骤',
//                    long_desp:''
//                }
//                this.row.content.push(new_content)
//            },
//            edit:function(node){
//                editor.edit(node,function(new_node){
//                   ex.assign(node,new_node)
//                })
//            }
        }

    }

    $(function () {
        new Vue(form_logic)
    })
</script>

{% block extra_head %}

{% endblock %}

<div id='there'>

    <div v-if="can_log" style='float: right;padding: 5px 20px;'>
        <a :href="log_url()">History</a>
    </div>
    <path-nav :menu='menu'>
        <li><span>编辑</span></li>
    </path-nav>

    <com-form-btn :submit="submit" :del_row="del_row" :cancel="cancel"></com-form-btn>


    <div class='field-panel'>

        <field  v-for='head in kw.heads' :key="head.name" :name='head.name' :kw='kw'></field>
    </div>

    <com-worktemplate-pan :content="row.content" :editable="true"></com-worktemplate-pan>

    <!--<div class="flex">-->
        <!--<div class="item" v-for="node in row.content" @click="edit(node)">-->
            <!--<div class="center-two" >-->
                <!--<span v-text="node.short_desp"></span>-->
            <!--</div>-->

        <!--</div>-->
        <!--<div class="item" @click="add_new()">-->
            <!--<div class="center-two">-->
                <!--<i class="fa fa-plus fa-2x" aria-hidden="true"></i>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
</div>

<template id="com-work-pan">
    <div >

    </div>
</template>

<script>
    Vue.component('com-work-pan',{
        template:'#com-work-pan',
        data:function(){

        }

    })
</script>

<style>

</style>

<!--<template id="com-editor">-->
    <!--<modal>-->
        <!--<div class='field-panel'>-->
            <!--<field  v-for='head in kw.heads' :key="head.name" :name='head.name' :kw='kw'></field>-->
        <!--</div>-->
    <!--</modal>-->


<!--</template>-->
<!--<script>-->
    <!--Vue.component('com-editor',{-->
        <!--data:function(){-->
            <!--return {-->
                <!--kw:{-->
                    <!--heads:[{name:'short_desp',type:'linetext'},{name:'long_desp',type:'blocktext'}],-->
                    <!--row:{}-->
                <!--},-->
                <!--is_show:false,-->
            <!--}-->
        <!--},-->
        <!--methods:{-->
            <!--edit:function(){-->
                <!--this.is_show=true-->
            <!--}-->
        <!--}-->
    <!--})-->
<!--</script>-->
{% endblock %}