{% extends "director/index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "js/table.pack.js?t=" %}{{ js_stamp.table_pack_js }}'></script>
<script src='{% static "js/workboard.pack.js?t=" %}{{ js_stamp.workboard_pack_js }}'></script>

<script type="text/javascript">

    heads=ex.sort_by_names(heads,['id','client','short_desp','order'])
    ex.each(heads,function(head){
        if(head.name=='order'){
            head.type='plan-board'
        }
    })

    gb={
        node_edit_state:false
     }

    table_logic={
        el:'#there',
        data:{
            gb:gb,
        },
        mixins:[table_fun],
        watch:{
            'row_sort.sort_str':function (v) {
                this.search_args._sort=v
                this.search()
            }
        },
        methods:{
//            toggle_node_edit:function(){
//                this.gb.node_edit_state = !this.gb.node_edit_state
//            },
            select_muban:function(){
                var self=this
                ln.openFrame('/pc/workboard.worktemplate','选择工作流程模板',function(uu){
                    location=engine_url+'/workboard.workgroup.edit?muban='+uu.pk
//                    sessionStorage.setItem('worknode_muban',JSON.stringify(uu))

//                    var post_data=[{fun:'create_worknode_from_temp',temp:uu}]
//                    ex.post('/_ajax/'+app,JSON.stringify(post_data),function(resp){
//                        self.rows.splice(0,0,resp.create_worknode_from_temp)
//                    })
                },{width:'80em',height:'60em'})
            }
        }
    }
    $(function () {
        table=new Vue(table_logic)
    })

</script>

{% block extra_head %}
{% endblock %}

<div id='there'>
    <path-nav :menu='menu' v-if="!search_args._pop"></path-nav>
    <div class='btn-panel flex flex-sb' style="padding-left:20px; ">


        <com-filter class="flex" :heads="row_filters" :search="search_args"
                    :search_tip='search_tip' @submit="search()"></com-filter>
        <div>
            <!--<button type="button" :class="['btn btn-sm',{'btn-default':!gb.node_edit_state,'btn-primary':gb.node_edit_state}]" @click="toggle_node_edit()">添加删除进度详情</button>-->
            <!--<button type="button" :class="['btn btn-sm','btn-default']" @click="select_muban()">从模板创建</button>-->
        </div>

        <div class="btn-group" style="width: 120px; flex-shrink: 0; align-self:flex-start; ">
            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                新建 <span class="caret"></span>
            </button>
            <button type="button" class="btn btn-danger btn-sm" @click="del_item()" :disabled="selected.length==0">删除</button>
            <ul class="dropdown-menu">
                <li><a href="#" @click="add_new()">全新创建</a></li>
                <li><a href="#" @click="select_muban()">从模板创建</a></li>
                <!--<button type="button" :class="['btn btn-sm','btn-default']" @click="select_muban()">从模板创建</button>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">Separated link</a></li>-->
            </ul>
        </div>

        <span style="min-width: 3em;"></span>

        <!--<com-table-btn v-if="!search_args._pop" :add_new="add_new" :del_item="del_item" style="min-width: 7em;">-->
        <!--</com-table-btn>-->

    </div>

    <com-table class='table fake-suit' :has_check="!search_args._pop" :map="map"
               :row_sort="row_sort" :heads="heads" :rows="rows" v-model="selected"></com-table>



    <paginator :nums='row_pages.options' :crt='row_pages.crt_page' @goto_page='goto_page($event)'></paginator>

    <!--<modal>-->
        <!--<iframe src="/pc/workboard.worktemplate?_pop=1" frameborder="0" height="90vh" width="90vw"></iframe>-->
    <!--</modal>-->
</div>
<style type="text/css" media="screen" id="test">
    .td_client{
        min-width: 20em;
    }
    .td_short_desp{
        min-width: 10em;
    }
    .td_order{
        width: 100%;
    }

    #filter-node_status{
        min-width: 10em;
    }
</style>

{% block extra %}
{% endblock %}
{% endblock %}